{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <link rel="stylesheet" href="{% static 'image_search.css' %}?{% now "U" %}"" />

    <title>Image Search | Free Stock Images</title>
  </head>
  <body>
    <!-- <h1>Hello, world!</h1> -->
    <!-- Search Box -->
    <div>
		<div>
			<form action="result" method="get" enctype="multipart/form-data" >
                {% csrf_token %}
				<div>
					<input name='search-box' class="form-control rounded-pill" type="search" placeholder="Search Anything" required >
				</div>
			</form>
        </div>
    <!-- End of Search Box -->
    {% block body %}
    <div style="text-align:center;">
        <img src="https://lh3.googleusercontent.com/pw/ACtC-3eXtL1UEkqwP7JRoVWYm8fpvuFqBvhKAV-zAmHh9-kjOy8SzUAvqWcCEOF8WAGprsLnPPcr_voHjCQUYCQ8RD4ySV9YzSoH1nCTxi36VjP3QOOmOsAqIoypm6EXW-0uUP_mNcEbXifiGBMJjvwC9trg=w1610-h938-no?authuser=0" class="welcome">
      </div>
    {% endblock body %}

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>


<!-- <h5 class="card-title">Card title</h5> -->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
